/*
TYPOGRAPHY
 */
*, .likeP {
  @apply text-default font-normal;
}

b, strong, .likeB{
  @apply font-bold;
}
i, em, .likeI{
  @apply italic;
}
b i, b em, i b, em b,
strong i, strong em, i strong, em strong{
  @apply font-bold italic;
}

h1,h2,h3,h4,h5,h6{
  @apply ;

  a{
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
  }
}

h1,.likeH1{
  @apply font-bold text-h1;
  
    @screen sm {
        @apply text-h1;
    }

    &.logo{
        @apply leading-none mb-0;
    }
  
    &.small{
        @apply text-h2;
    }
}

h2,.likeH2{
  @apply font-bold text-h2;
  
  @screen sm {
        @apply text-h2;
    }

  *{
    @apply text-h2;
  }
}

h3,.like-h3{
  @apply font-bold text-h3;
  
  @screen sm {
        @apply text-h3;
    }

  *{
    @apply text-h3;
  }
}

ul,ol{
  list-style-type: disc;
  @apply ;

  li{

    @apply ml-8 pl-3;

    ul,ol{

      li{

      }
    }
  }

  &.instruction{
    @apply mb-0;
    li{
      @apply font-bold ml-5;
    }
  }
}

ol{
  list-style-type: decimal;

  &.letter{
    list-style-type: lower-latin;
  }
}

a{
  @apply underline;

  &:hover, &:focus, &:active{
    @apply ;
  }
}

a, .btn{
  &.disabled{
    @apply pointer-events-none opacity-50;
  }
}

figure{
  @apply block;

  img{
    @apply mb-0;
  }

  figcaption{
  }
}